@import '../../../style/sass/variables.scss';
@font-face {
  font-family: naz;
  src: url(../../../style/fonts/nazanin.ttf);
}
.products-table{
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;

    .pt-heading{
        text-align: center;
    }

    .pt-body{
        text-align: center;
    }

    td{
        align-items: center;
    }

    .pt-img{
        width: 150px;
        height: 100px;
        object-fit: contain;
        border-radius: 15px;
    }

    .pt-btn{
        // border: none;
        // outline: none;
        font-size: 1.2rem;
        margin-left: 5px;
        color: black !important;
    }
  }
  //--------TOASTIFY STYLE------------//
  .toastBody {
    font-family: "naz";
    color: #10171D;
    font-size: 1rem !important;
    // direction: rtl;
    text-align: center;
  }

  .Toastify__toast--warning {
    background: #FFE8BC !important;
  }
  .Toastify__toast--error {
    background: #FCA7A9 !important;
  }
  .Toastify__toast--success {
    background: #aedfa4 !important;
  }
