@import '../../../style/sass/variables.scss';

.modal-parent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    
    // if class active gereft nemayesh dahad
    &.active{
        visibility: visible;
        opacity: 1;
    }
        
    .edit-modal{
        width: 600px;
        padding: 40px;  
        background: $white2;
        border-radius: 15px;
        text-align: center;
        border: 2px solid $blue;


        h1{
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
        //--------- Style form -----------//
        .edit-form-submit-btn{
            width: 100%;
            text-align: center;
            padding: 8px 10px;
            background: $blue;
            color: $white2;
            margin-top: 20px;
        }

        .edit-form{
            text-align: right;
        }

        .edit-form-group{
            display: flex;
            align-items: center;
            column-gap: 5px;
            // background: $white2 !important;
            border: 1px solid $blue;
            border-radius: 10px;
            padding: 5px;

            input{
                background-color: $white2;
                border: none;
                outline: none;
            }
        }

        .edit-form-icon{
            font-size: 1.5rem;
            color: $blue;
            background: $white2 !important;




        }
    }
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-family: 'lale' !important;
}
.css-hjtp1-MuiInputBase-root-MuiOutlinedInput-root{
    font-family: 'lale' !important;

}
.css-1v4qvbo-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'lale' !important;

}
.css-179z3gj-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'lale' !important;

}