.toastBody {
    font-family: "naz";
    color: #10171D;
    font-size: 1rem !important;
    // direction: rtl;
    text-align: center;
  }

  .Toastify__toast--warning {
    background: #FFE8BC !important;
  }
  .Toastify__toast--error {
    background: #FCA7A9 !important;
  }
  .Toastify__toast--success {
    background: #aedfa4 !important;
  }
