.offs{
    margin-top: 60px;
}
.btn-EDIT{
    margin-right: 5px;
}
.tt{
    background: rgb(95, 233, 113) !important;
}

.details-comments-modal{
    width: 400px;
    
    p{
        font-size: 1.4rem;
        padding: 15px;
        border-radius: 10px;
        // background: rgb(161, 170, 224);
        box-shadow: 5px 4px 8px -3px rgb(102, 5, 230);
    }

    .closeBTN{
        margin-top: 20px;
        width: 50%;
        background: rgb(50, 86, 205);
    }
}


.e1{
    background: rgb(168, 231, 125);
}

.e2{
    background: rgb(249, 255, 222);
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-family: 'lale' !important;
}
.css-hjtp1-MuiInputBase-root-MuiOutlinedInput-root{
    font-family: 'lale' !important;

}
.css-1v4qvbo-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'lale' !important;

}
.css-179z3gj-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'lale' !important;

}